html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.flex_centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.end {
  justify-content: flex-end;
}

.columns {
  flex-direction: column;
}
