
/* BRANDING COLOR PALETTE */
  .summary_address {
  text-align: left;
  margin: 5px;
  text-shadow: 1px 1px 2px black;
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 10px;
  /* background: #D6D6D6; */
}
  /* Imports All Containers */
  .order_summary_container {
  display: flex;
  height: 100vh
}
  .order_summary_container .order_summary_container__child {
    padding: 45px
  }
  .order_summary_container .order_summary_container__child.sideNav {
      width: 200px;
      background: gold;
    }
  .order_summary_container .order_summary_container__child.products {
      width: 100%;
      display: flex;
      flex-direction: column
    }
  .order_summary_container .order_summary_container__child.products .product_holder img {
          width: 10%;
        }
  .order_summary_container .order_summary_container__child.products .product_holder .product_counter {
          width: 10%
        }
  .order_summary_container .order_summary_container__child.products .product_holder .product_counter .number_input {
            width: 40%;
            text-align: center;
          }
  .order_summary_container .order_summary_container__child.products .product_holder p {
          text-align: center;
          width: 16.67%;
        }
  .order_summary_container .order_summary_container__child.products .product_holder .button_holder {
          width: 4%;
        }
  .order_summary_container .order_summary_container__child.products .product_holder .product_data {
          width: 16.67%
        }
  .order_summary_container .order_summary_container__child.products .product_holder .product_data .product_category {
            color: red;
          }
  .order_summary_container .order_summary_container__child.products .product_holder .product_data .product_name {
            margin: 5px;
            width: 100%;
          }
  .order_summary_container .order_summary_container__child.products .product_holder .product_data .product_category {
            width: 100%;
          }
  .order_summary_container .order_summary_container__child.products .product_holder .delete_btn {
          background: #f23445;
          border: 1px solid black;
          box-shadow: 2px 2px 1px black;
          padding: 5px;
          border-radius: 15px
        }
  .order_summary_container .order_summary_container__child.products .product_holder .delete_btn:hover {
            transform: scale(1.1);
            background: #eeee;
          }
  .order_summary_container .order_summary_container__child.summary {
      display: flex;
      flex-direction: column;
      width: 500px;
      background: #f5f5f6
    }
  .order_summary_container .order_summary_container__child.summary .cart_summary {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
  .shopping_cart_header {
  border-bottom: 1px solid gray;
}
  .product_counter .counter_button {
    cursor: pointer;
    user-select: none;
    border: none;
  }
  .product_counter .number_input {
    margin: 5px;
    text-align: center;
    width: 30px;
  }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  input[type="number"] {
  -moz-appearance: textfield;
}
  .flex_centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row
}
  .flex_centered.around {
    justify-content: space-around;
  }
  .flex_centered.between {
    justify-content: space-between;
  }
  .flex_centered.start {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .flex_centered.end {
    justify-content: flex-end;
  }
  .flex_centered.columns {
    flex-direction: column;
  }
  .payment_info {
  height: 100%;
}
  /* Imports ALL Views */
  html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}